__pycache__/
*.pyc
*.egg-info/
.eggs/
dist/
build/
*.swp
*.swo
.DS_Store
._.DS_Store
._*
*.out
*.err
models/
datasets/BSDS500/
datasets/UDED/
datasets/BIPED/
~/
papers/anisotropic-lf-proposal/uofsc-beamer-template/
slurm/
lf_response_stack*.npy
