.DS_Store
__pycache__/
.pytest_cache/
.mypy_cache/
.ruff_cache/
.venv/
venv/
env/
build/
dist/
out/
*.o
*.obj
*.so
*.dylib
*.dll
*.exe
*.class
*.pyc
*.pyo
*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.lof
*.log
*.lot
*.nav
*.run.xml
*.snm
*.synctex.gz
*.toc
*.xdv
.typst-cache/
